/*-----------------------------------------------------------------------------
| Copyright (c) Jupyter Development Team.
| Distributed under the terms of the Modified BSD License.
|----------------------------------------------------------------------------*/

.jp-GitLab-icon {
  background-image: url(gitlab_stacked_wm_grayscale.svg);
}

.jp-GitLabBrowser {
  background-color: var(--jp-layout-color1);
  height: 100%;
}

.jp-GitLabBrowser .jp-FileBrowser {
  flex-grow: 1;
  height: 100%;
}

.jp-GitLabBrowser .jp-GitLabEditableName {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: large;
  padding: 0px;
  flex: 8 8;
}

.jp-GitLabBrowser .jp-GitLabEditableName-display {
  border: 1px solid transparent;
  width: 100%;
}

.jp-GitLabBrowser .jp-GitLabEditableName-display:hover {
  border: 1px solid var(--jp-border-color1);
}

.jp-GitLabBrowser .jp-GitLabEditableName-input {
  background-color: var(--jp-layout-color2);
  color: var(--jp-ui-font-color1);
  font-size: large;
  text-align: center;
  width: 100%;
}

.jp-GitLabBrowser .jp-ToolbarButton.jp-Toolbar-item.jp-GitLab-toolbar-item {
  display: block;
}

.jp-GitLabBrowser .jp-ToolbarButton.jp-Toolbar-item {
  display: none;
}

.jp-GitLabBrowser .jp-DirListing-headerItem.jp-id-modified {
  display: none;
}

.jp-GitLabBrowser .jp-DirListing-itemModified {
  display: none;
}

.jp-GitLabErrorPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--jp-layout-color2);
}

.jp-GitLabErrorImage {
  background-size: 100%;
  width: 200px;
  height: 165px;
  background-image: url(gitlab-logo-extra-whitespace.svg);
}

.jp-GitLabErrorText {
  font-size: var(--jp-ui-font-size3);
  color: var(--jp-ui-font-color1);
  text-align: center;
  padding: 12px;
}

#setting-editor .jp-PluginList-icon.jp-GitLab-icon {
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}
